<a href="https://colab.research.google.com/github/Dietrich061991/Analise-estatistica-blackfriday/blob/master/Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/black"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
black_friday.csv

In [5]:
df =  pd.read_csv ('/content/drive/My Drive/black/black_friday.csv',delimiter=',')
df.head(5)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

## Inicie sua análise a partir daqui

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [6]:
def q1(df):
  return(df.shape) 
  pass
q1(df)

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [7]:
def q2(df):
    return(len(df[(df.Gender=='F') & (df.Age== '26-35')].drop_duplicates(subset='User_ID')))
    pass
q2(df)

545

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [8]:
def q3(df):
    return(len(df.drop_duplicates(subset='User_ID')))
    pass
q3(df)

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [9]:
def q4(df):
    return(len(df.columns))
    pass
q4(df)

12

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [10]:
def q5(df):
    return(df.isnull().sum().sum()/df.size)
    pass
q5(df)

0.08375311815795691

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [12]:
def q6(df):
    return(df.isnull().sum().max())
    pass
q6(df)

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [13]:
def q7(df):
    return(df['Product_Category_3'].dropna().value_counts().idxmax())
    pass
q7(df)

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [14]:
def q8(df):
    new=(df['Purchase']-df['Purchase'].mean())/df['Purchase'].std()
    return(new.mean())
    pass
q8(df)

-9.043975390106449e-17

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [15]:
def q9(df):
    return(len(df['Purchase']))
    pass
q9(df)

537577

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [16]:
def q10(df):
    return(np.std(df[['Product_Category_2','Product_Category_3']].isnull().sum().tolist())==0)
    pass
q10(df)

False